@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.promo-bar {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 6px;
  font-family: "Poppins", sans-serif;
}

.nav-link {
  margin: 0 12px;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
}

.icon-btn {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

.icon-btn:first-child {
  margin-left: 0;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: black;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 14px;
  font-weight: 500;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
}

/* Slider */
.carousel-control-next,
.carousel-control-prev {
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 40px;
  background-color: #000;
  opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 20px;
  height: 20px;
}

.carousel-caption {
  right: inherit;
  left: 10%;
  bottom: inherit;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  color: #000;
}

.carousel-caption h2 {
  font-size: 14px;
  position: relative;
  font-weight: 600;
  color: #000;
  display: inline-block;
  margin-bottom: 20px;
}

.carousel-caption h2::after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: -18px;
}

.carousel-caption h1 {
  font-size: 36px;
  line-height: 52px;
  color: #000;
  letter-spacing: 1.8px;
  font-weight: 400;
  margin-bottom: 20px;
}

.carousel-caption h1 span {
  font-size: 48px;
  font-weight: 700;
}

.carousel-caption p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 35px;
}

/* Commone */
.common-btn {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: #000;
  color: #fff;
  padding: 14px 34px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  transition: 0.5s ease-in-out;
  border: none;
}

.common-btn:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.com_title {
  font-size: 32px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 8px;
  text-align: center;
}

.sub_title {
  font-size: 1rem;
  text-align: center;
  color: #000;
}

.p_60 {
  padding-top: 60px;
}

/* Service */
.service_highlights .content_box {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.service_highlights .content_box img {
  height: 50px;
}

.service_highlights .content_box .content {
  text-align: left;
}

.service_highlights .content_box h6 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.service_highlights .content_box p {
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

/* Cataegori */
.categories_sec .cat_slider {
  margin-top: 25px;
}

.categories_sec .cat_slider a {
  text-decoration: none;
}

.categories_sec .cat_slider .cat_slider_box {
  text-align: center;
}

.categories_sec .cat_slider .cat_slider_box img {
  margin: 0 auto;
}

.categories_sec .cat_slider .cat_slider_box h6 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

/* Offer Zone */

.offer_zone .img_box {
  position: relative;
}

.offer_zone .img_box .content_box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  text-align: right;
}

.offer_zone .img_box .content_box h3 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 8px;
}

.offer_zone .img_box .content_box p {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

/* Trending */
.trending_sec h2.com_title {
  text-align: left;
}

.trending_sec .slick-slide {
  margin: 0 12px;
}

.trending_slider {
  margin-top: 30px;
}

.trending_sec .slick-track {
  display: flex;
}

.trending_sec .slick-list {
  margin: 0 -12px;
}

.trending_sec .slick-prev,
.trending_sec .slick-next {
  background: #000;
  right: 0;
  top: -70px;
  transform: unset;
  width: 32px;
  height: 40px;
  background-image: url(../images/right-arrow.png);
  background-size: cover;
}

.trending_sec .slick-prev {
  left: unset;
  right: 52px;
  background-image: url(../images/left-arrow.png);
  background-size: cover;
}

.trending_sec .slick-prev:before,
.trending_sec .slick-next:before {
  display: none;
}

.pro_main_box .img-box {
  position: relative;
}

.pro_main_box .img-box a.common-btn {
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0;
  transition: 0.5s ease-in;
}

.pro_main_box:hover .img-box a.common-btn {
  bottom: 12px;
  opacity: 1;
}

.pro_main_box .content_box h3 {
  font-size: 18px;
  color: #4C4C4C;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 12px 0;
}

.pro_main_box .content_box .price_box {
  display: flex;
  justify-content: space-between;
}

.pro_main_box .content_box .price_box div {
  display: flex;
  background-color: #EDEDED;
  align-items: center;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  color: #000;
}

.pro_main_box .content_box .price_box div img {
  margin-left: 6px;
  width: 10px;
}

.pro_main_box .content_box .price_box p {
  font-size: 20px;
  color: #4C4C4C;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.pro_main_box .content_box .price_box p span {
  color: #000;
  margin-left: 16px;
  font-weight: 500;
}

/* Offer Zone two */

.offer_zone_two h3 {
  text-align: left;
  margin-bottom: 15px;
}

.offer_zone_two h3 span {
  font-weight: 700;
}

.offer_zone_two p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

/* Review Sec */
.review_sec {
  padding-bottom: 60px;
}

.review_sec h3.com_title {
  text-align: left;
  margin-bottom: 30px;
}

.review-slider {
  margin-top: 30px;
}

.review-card {
  padding: 10px;
  border-radius: 20px;
  background-color: #FFEBEE;
}

.review-card h5 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
}

.review-card h6 {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  display: flex;
  column-gap: 25px;
  align-items: center;
  margin-bottom: 8px;
}

.review-card h6 .verified-badge {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  background-color: #fff;
  color: #000000;
  font-weight: 700;
  border-radius: 20px;
  font-size: 11px;
}

.review-card h6 .verified-badge img {
  margin-left: 8px;
  width: 12px;
}

.review-card .review-stars img {
  max-width: 118px;
  margin-bottom: 8px;
}

.review_sec .review-card h3 {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  margin-bottom: 8px;
}

.review_sec p {
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.review-slider .slick-slide {
  margin: 0 12px;
}

.review-slider {
  width: 90%;
  margin: 0 auto;
}

.review-slider .slick-track {
  display: flex;
}

.review-slider .slick-list {
  margin: 0 -12px;
}

.review-slider .slick-prev,
.review-slider .slick-next {
  width: 32px;
  height: 40px;
  background-image: url(../images/right-arrow.svg);
  background-size: cover;
}

.review-slider .slick-prev {
  background-image: url(../images/left-arrow.svg);
  background-size: cover;
  left: -65px;
}

.review-slider .slick-next {
  right: -60px;
}

.review-slider .slick-prev:before,
.review-slider .slick-next:before {
  display: none;
}

/* Footer */
footer {
  background-color: #000000;
  padding-top: 22px;
}

footer ul li a,
footer p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #87857D;
  line-height: normal;
}

footer ul li {
  margin-bottom: 20px;
}

footer ul li:last-child {
  margin-bottom: 0;
}

footer .social a {
  text-decoration: none;
}

footer .bottom-text p,
footer .bottom-text a {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* Shop page  */
/* breadcrumb */
.breadcrumb-sec {
  background-color: #FFEBEE;
  padding: 27px 0;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}

.breadcrumb-sec h5 {
  font-size: 26px;
  font-weight: 500;
  color: #000000;
}

.breadcrumb-sec .breadcrumb-item {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.breadcrumb-sec .breadcrumb-item a {
  font-weight: 400;
  text-decoration: none;
  color: #000;
}


/* shop_list */
.shop_list {
  padding: 40px 0;
}

.shop_list .div_wrap {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #999999;
  max-height: 200px;
  overflow-y: auto;
}

.shop_list .div_wrap.last {
  border: none;
}

.shop_list .div_wrap label {
  width: 100%;
  font-size: 16px;
  color: #262626;
  margin-bottom: 10px;
  display: flex;
  column-gap: 14px;
}

.shop_list .div_wrap h6 {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
}

.shop_list button {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  width: 100%;
}

/* Shop Page */
.product_container .slider-nav img {
  cursor: pointer;
  border: 2px solid transparent;
  margin-right: 5px;
}

.product_container .slider-nav .slick-current img {
  border-color: #000;
}

#productDetails .rev_box {
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  margin-bottom: 25px;
}

#productDetails .icon img {
  max-width: 118px;
}

#productDetails .rev_box span {
  font-size: 16px;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

#productDetails h3 {
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 25px;
}

#productDetails .product-price {
  font-size: 26px;
  font-weight: 600;
  color: #000;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 20px;
}

#productDetails .product-price .old-price {
  color: #707070;
}

#productDetails .product-price .badge {
  padding: 10px 15px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
  background-color: #FFEBEE;
  border-radius: 4px;
}

#productDetails .pro_short_des {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  line-height: auto;
  margin-bottom: 20px;
}

#productDetails h4 {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 6px;
}

#productDetails .filter {
  margin-bottom: 20px;
}

#productDetails .filter li {
  background-color: #FFEBEE;
  border: 1px solid #EEEEEE;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

#productDetails .filter li.purple {
  background-color: #A76E9A;
}

#productDetails .quantity-box {
  margin-bottom: 20px;
}

.quantity-control .btn-decrease,
.quantity-control .btn-increase,
#productDetails .quantity-box button {
  border-radius: 4px;
  width: 40px;
  height: 35px;
  border: 1px solid #DEDEDE;
  background-color: #F2F2F2;
  font-size: 20px;
}

.quantity-control .quantity-input,
#productDetails .quantity-box input {
  border-radius: 4px;
  width: 60px;
  height: 35px;
  border: 1px solid #DEDEDE;
  background-color: #F2F2F2;
  font-size: 20px;
  text-align: center;
}

#productDetails .pro_btn {
  display: flex;
  column-gap: 24px;
  margin-bottom: 20px;
}

#productDetails .more_detail li {
  font-size: 16px;
  color: #777777;
  margin-bottom: 10px;
}

#productDetails .more_detail li:last-child {
  margin-bottom: 30px;
}

#productDetails .more_detail li strong {
  color: #000000;
}

#productDetails .secure-icons {
  font-size: 18px;
  font-weight: 500;
}

#productDetails .secure-icons img {
  margin-top: 15px;
}

#productTab.nav-tabs {
  border-bottom: 0;
  margin-bottom: 30px;
  column-gap: 15px;
}

#productTab.nav-tabs .nav-link {
  padding: 0;
  border: none;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

#productTab.nav-tabs .nav-link.active {
  border-bottom: 2px solid #000;
}

.tab-content p {
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.checkout_container {
  padding: 60px 0;
}

.checkout_container h2 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

#checkoutForm {
  margin-top: 20px;
}

#checkoutForm .input-group {
  margin-bottom: 15px;
}

#checkoutForm .input-group label {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin-bottom: 10px;
}

#checkoutForm .input-group input {
  width: 100%;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

#cartItems {
  margin-top: 20px;
}

#orderSummary .order-item,
#cartItems .cart_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  background-color: #FAF8F8;
  border-radius: 4px;
  margin-bottom: 25px;
}
.thnk-you-price h4,
#cartItems .cart_item h4 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 15px;
}
.thnk-you-price p,
#cartItems .cart_item p {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

#orderSummary .order-item .thnk-you-price {
  width: 40%;
}

#cartItems .quantity_box {
  width: 60%;
}
#orderSummary .tt-price,
#orderSummary h3,
#total h3 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-align: right;
  margin-bottom: 25px;
}

#orderSummary h3 span,
#total h3 span {
  margin-left: 30px;
  font-size: 22px;
}

.check_btn_grp {
  display: flex;
  justify-content: flex-end;
  column-gap: 25px;
}

#orderSummary {
  margin-top: 25px;
}

.thank-you-sec {
  padding: 60px 0;
}
.thank-you-sec h1 {
  font-size: 35px;
  font-weight: 600;
  color: #000;
  margin: 15px 0;
}

.thank-you-sec p {
  font-size: 16px;
  line-height: 20px;
}

@media(max-width:767px) {
  .thnk-you-price h4 {
    font-size: 18px;
  }
  #carouselExampleFade .carousel-item img {
    height: 470px;
    object-fit: cover;
    object-position: right;
  }

  .carousel-caption {
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    text-align: center;
  }

  .carousel-caption h1 {
    font-size: 26px;
    line-height: 32px;
  }

  .carousel-caption h1 span {
    font-size: 26px;
  }

  .carousel-caption p {
    margin-bottom: 20px;
  }

  .service_highlights .content_box {
    flex-flow: column;
  }

  .service_highlights .content_box .content {
    text-align: center;
    margin: 15px 0;
  }

  .com_title {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .common-btn {
    padding: 10px 25px;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .offer_zone .img_box .content_box h3 {
    font-size: 24px;
  }

  .offer_zone .img_box .content_box p {
    font-size: 20px;
  }

  .trending_sec .slick-prev,
  .trending_sec .slick-next {
    top: -65px;
  }

  .review_sec {
    padding-bottom: 40px;
  }

  .p_60 {
    padding-top: 40px;
  }

  .filter_sec {
    display: none;
    transition: 0.5s ease-in-out;
  }

  .filter_sec.active {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 9;
    padding: 20px;
    overflow-y: auto;
  }
  .pro_main_box .content_box .price_box p {
        font-size: 16px;
  }
  .pro_main_box .content_box .price_box p span {
    margin-left: 10px;
  }
  #productDetails .icon img {
    max-width: 65px;
}
#productDetails .rev_box span {
  font-size: 14px;
}
}